<h1>Photo Comments</h1>

<%= image_tag @photo.image_url, width: 200 %>

<% @photo.comments.each do |comment|  %>
<li>
	<%= comment.content %>
	<% if owns_photo?(comment) %>
	<!--If you own the comment you can edit it and delete  -->
		<%= link_to 'âœï¸', edit_photo_comment_path(@photo,comment) %>
		<%= link_to 'ðŸ—‘ï¸', photo_comment_url(@photo,comment), method: :delete, data: { confirm: 'Are you sure?' } %>
	</li>
	<% end %>
<% end  %>


<%= form_with(model: [@photo, @comment], local: true) do |form| %>

<div class="form-group">
	<%= form.text_area :content, class: 'form-control' %>
</div>

<div class="form-group">
	<%= form.submit class: 'btn btn-primary'  %>
</div>

<% end %>
