<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<h1>Your Feed</h1>
<div class="text-center">

	<% @photos.each do |photo| %>

	<!--  Create a card for each photo inside the table and in the center  -->
	<div class="card mx-auto rounded cardpic rounded" >
		<!-- set the image  in the first row  -->

		<%= image_tag photo.image_url, class:"cardpic" %>

		<div class="card-block">
			<!-- Caption in second row  -->
			<p class="card-text">
				<%= photo.caption  %>
			</p>
		</div>
		<!--third and bottom row  -->
		<div class="card-block">
			<!-- likes button   -->
		 LIKES GO HERE
	</div>
	<div class="card-footer">
		<!--Any comments?  -->
		Comments: <%= photo.comments.count  %>
		<br>
		<!-- Time created -->
		<%= time_ago_in_words(photo.created_at)  %>
		<br>
		<!--options  -->
		<%= link_to 'ðŸ’¬', photo_comments_path(photo) %>

		<!-- If you own the photo you can edit or delete it  -->
		<% if owns_photo?(photo) %>
		<%= link_to 'âœŽ', edit_photo_path(photo) %>
		<%= link_to 'ðŸ—‘ï¸', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>

	</div>

</div>
<br>
<br>
<br>
<% end %>
</div>
