<p id="notice"><%= notice %></p>

<h1>Your Feed </h1>

<table class= "table text-center">
  <thead>
    <tr>
      <th><strong>Image data</strong></th>
      <th><strong>UserName</strong></th>
      <th><strong>Caption</strong></th>
      <th colspan="5"></th>
      <br>
    </tr>

  </thead>
<br>
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><img src=" <%=photo.image_url %>"></td>
        <td><%= current_user.username %></td>
        <td><%= photo.caption %></td>


        <!--Below uses the act as votable gem  -->
        <td><%= link_to like_photo_path(photo), method: :put do %>
          ❤️
          <%= photo.get_upvotes.size %>
        <% end %>

        <%= link_to dislike_photo_path(photo), method: :put do %>
          💔
          <%= photo.get_downvotes.size %>
        <% end %></td>

        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
